@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #eff5ef;
  --color-text: #3c4a3e;
  --color-primary: #7c9885;
  --color-secondary: #b5c9b7;
  --color-accent: #e0e5e0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
